@model IEnumerable<AppData.Models.RankEntity>

@{
    var index = 1;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
 


<h2>Bảng chi tiết</h2>

@* <table class="table">
    <thead>
        <tr>
          @*   <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Policies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Benefits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
     
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Benefits)
            </td>
           
        </tr>
}
    </tbody> *@
@* </table> *@
<div class="table-responsive">
    <table class="table table-hover e-commerce-table border">
        <thead class="thead-light">
            <tr>
                <th>STT</th>
                <th>Ngày</th>
                <th>Top1</th>
                <th>Tổng điểm</th>
                <th>Top2</th>
                <th>Tổng điểm</th>
                <th>Top3</th>
                <th>Tổng điểm</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
                @if (item.STT == 1) {
                <tr>
                    <td>
                        <div class="d-flex align-items-center">

                            <div class="badge badge-success badge-diamond m-r-10"></div>
                           @*  @for(var stt in item.STT)
                                { *@
                                    <div>@Html.DisplayFor(modelItem => item.STT)</div>
                                @* } *@

                        </div>
                    </td>

                    <td>
                        <div class="d-flex align-items-center">
                                @Html.DisplayFor(modelItem => item.Username)          
                        </div>
                    </td>
                    <td>@item.Point</td>

                    <td>@item.TotalPoint</td>
                    <td>
                        <div class="d-flex align-items-center">
                          
                            <div class="badge badge-success badge-diamond m-r-10"></div>
                            <div>@Html.DisplayFor(modelItem => item.Ranking)</div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Policies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Benefits)
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<script src="~/js/adminchart.js"></script>
