@using AppData.Models;
@model List<Blog>
@{
    ViewData["Title"] = "Blog";
}

<link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" />
<!-- Hero -->
<div class="hero container">
    <div class="jeg-body-container">
        <div id="right-content" class="right-content-index">
            <div class="elementor-row">
                <div class="home_page_featured_news sf_featured_post swiper-container swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper py-4" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                        @foreach (var item in Model)
                        {
                            if (item.Status == 1)
                            {
                                <div id="slide-1" class="swiper-slide swiper-slide-active">
                                    <div class="featured-box">
                                        <div class="jfeatured-box--thumb" style="height:45%; width:60%; display:inline-block">
                                            <a class="jfeatured-box--thumbnail_link" href="@item.Images">
                                                <img class="lazy" src="@item.Images" alt="@item.Title">
                                            </a>
                                        </div>
                                        <div class="jfeatured-box--box-info" style="height:45%; width:35%; display:inline-block">
                                            <h3>
                                                <a href="">@item.Title</a>
                                            </h3>
                                            <div class="jfeatured-box--excerpt">@item.Content</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1">
                        </span>
                        <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2">
                        </span>
                        <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3">
                        </span>
                        <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4">
                        </span>
                        <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5">
                        </span>
                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <div class="elementor-widget-container_tintuccapnhat__index">
                <h2 class="elementor-heading-title">Tin tức cập nhật</h2>
            </div>
            <div class="">
                <div class="" style="width: 100%">
                    <div style="width: 100%">
                        <div id="" class="">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <!--Duplicate here-->
                                        @foreach (var item in Model)
                                        {
                                            if (item.Status == 2)
                                            {
                                                <article class="jeg_post jeg_pl_md_2 format-standard post py-4">
                                                    <div class="jeg_thumb" style="width:30%; display:inline-block">
                                                        <a data-wpel-link="exclude" asp-action="BlogDetail" asp-route-value="@item.Id">
                                                            <div class="thumbnail-container">
                                                                <img loading="lazy" style="height:50%" src=" @item.Images" class=" wp-post-image lazy" alt="">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="jeg_postblock_content" style="width:45%; display:inline-block">
                                                        <h3 class="jeg_post_title">
                                                            <a data-wpel-link="exclude" asp-action="BlogDetail" asp-route-value="@item.Id" style="text-align:left">@item.Title</a>
                                                        </h3>
                                                        <div class="jeg_meta_date" style="text-align:left">
                                                            <a href="" data-wpel-link="exclude">
                                                                <i class="fa fa-clock-o"></i>
                                                                @item.CreatedDate
                                                            </a>
                                                        </div>
                                                        <div class="sf_post_category">
                                                            <a href="https://cellphones.com.vn/sforum/s-games" data-wpel-link="exclude">F-Phone</a>
                                                        </div>
                                                    </div>
                                                </article>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="navigation_overlay">
                                    <div class="module-preloader jeg_preloader">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                                @*                                <div class="elementor-row gap-eles hot_slide_bottom">
                                <div class="sf_right_featured">
                                <div class="sf_right_featured--header mt-20">
                                <h2>Đánh giá nổi bật</h2>
                                </div>
                                <div class="sf_right_featured--boxs">
                                <div class="sf_right_featured--box sf_right_featured--first-box">
                                <div class="sf_right_featured--box-thumb">
                                <a href="https://cellphones.com.vn/sforum/danh-gia-galaxy-z-fold5">
                                <div class="sf_right_featured--thumbnail-container">
                                <img class="lazy" src="https://cdn.sforum.vn/sforum/wp-content/uploads/2023/10/Danh-gia-Galaxy-Z-Fold5-5-cover.jpg" alt="Đánh giá Galaxy Z Fold5 sau 3 tháng: Điện thoại gập Samsung đã có tên, bây giờ là khẳng định tuổi!">
                                <div class="sf_right_featured--thumb-overlay">
                                </div>
                                </div>
                                </a>
                                </div><div class="sf_right_featured--box-content"><a href="https://cellphones.com.vn/sforum/danh-gia-galaxy-z-fold5">Đánh giá Galaxy Z Fold5 sau 3 tháng: Điện thoại gập Samsung đã có tên, bây giờ là khẳng định tuổi!</a></div>
                                </div>
                                </div>
                                </div>
                                </div>*@
                            </div>
                            <div class="jeg_block_navigation">
                                <div class="navigation_overlay">
                                    <div class="module-preloader jeg_preloader">
                                        <span></span><span></span><span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/blog.js"></script>