@model IEnumerable<AppData.Models.BillDetailsEntity>
@using AppData.FPhoneDbContexts;


@{
    var cus = @ViewBag.customer;
    ViewData["Title"] = "BillDetail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    FPhoneDbContext _dbContext = new FPhoneDbContext();
}
<!-- Thêm liên kết đến thư viện Toastr -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

@* LKK\SQLEXPRESS *@
<style>
    .button-abc {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #3498db;
        color: #fff;
        background-color: #3498db;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .button-abc:hover {
            background-color: #2980b9;
            color: black;
        }
</style>

<h2>Chi tiết đơn hàng</h2> 
<div class="container">
    <div class="row">
        <div class="col-sm 8">
            <div class="alert alert-success" role="alert" style="font-size:24px;">
                Sản phẩm
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td>

                        </td>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Đơn giá 
                        </th>
                        

                        <th>Imei</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var phonedetail = _dbContext.PhoneDetailds.FirstOrDefault(p => p.Id == item.IdPhoneDetail);
                        var phone = _dbContext.Phones.FirstOrDefault(p => p.Id == phonedetail.IdPhone);
                        var color = _dbContext.Colors.FirstOrDefault(p => p.Id == phonedetail.IdColor);
                        var ram = _dbContext.Ram.FirstOrDefault(p => p.Id == phonedetail.IdRam);
                        var PhoneName = phone.PhoneName + " " + ram.Name + " " + color.Name;
                        <tr>
                            <td>
                                @if(item.Imei == null)
                                {

                                    <a data-toggle="modal" data-target="#exampleModalCenter" style="color:red">
                                            <i class="fas fa-trash"></i>
                                        </a>

                                }else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#33ff66" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                        <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
                                        <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                                    </svg>
                                }

                            </td>
                            <td>
                                @PhoneName
                            </td>
                           
                            <td style="color:red">
                                @item.Price.ToString("N0") VND
                            </td>
                            <td>
                                @if (item.Imei != null)
                                {
                                    <span>(@item.Imei)</span>
                                }
                                else if (cus.Status == 6 || cus.Status == 4 || cus.Status == 5)
                                {
                                    
                                }
                                else
                                {
                                    <form action="@Url.Action("TimKiemImei", "Bill")" method="get">
                                        <div class="input-group">
                                            <input type="search" name="name" class="form-control rounded" placeholder="Add" aria-label="Search" aria-describedby="search-addon" />
                                            <input type="hidden" name="id" value="@item.IdBill" />
                                            <button type="submit" class="btn btn-outline-primary fas fa-search" data-mdb-ripple-init></button>
                                        </div>
                                    </form>
                                }
                                
                            </td>
                        </tr>

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận xóa</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Bạn có muốn xóa sản phẩm ra khỏi hóa đơn này không ?
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</a>
                                        <a type="button" class="btn btn-primary" href="@Url.Action("DeleteBilDetail", "Bill", new { id = item.Id })">Xác nhận</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm 4">
            <div class="alert alert-success" role="alert" style="font-size:24px;">
                Thông tin khách hàng
            </div>
            <table class="table">
                <tbody>

                    <tr class="border-top">
                        <td class="pb-3 " style="font-weight: bold;">Tên: </td>
                        <td class="pb-3 pl-5">@cus.Name</td>
                    </tr>
                    <tr class="border-top">
                        <td class="pb-3" style="font-weight: bold;">Địa chỉ:</td>
                        <td class="pb-3 pl-5">@cus.Address</td>
                    </tr>
                    <tr class="border-top">
                        <td class="pb-3" style=" font-weight: bold;">Số điện thoại:</td>
                        <td class="pb-3 pl-5">@cus.Phone</td>
                    </tr>
                    <tr>
                        <td class="pb-3" style=" font-weight: bold;">Phương thức thanh toán: </td>
                        <td>
                            @cus.deliveryPaymentMethod  @if (cus.StatusPayment == 1)
                            {
                                <span class="text-success">Đã thanh toán </span>
                            }
                            else
                            {
                                <span class="text-danger">Chưa thanh toán </span>
                            }
                        </td>

                    </tr>
                    <tr class="border-top">
                        <td class="pb-3" style=" font-weight: bold;">Thành tiền:</td>
                        <td class="pb-3 pl-5"><span class="text-cam font-weight-bold">@cus.TotalMoney.ToString("N0") VND</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
  
        @if(cus.Status == 0)
        {
        <a href="@Url.Action("Status", "Bill", new { id = cus.Id })" class="btn btn-primary btn-confirm">Xác nhận đơn hàng</a>

        <a class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">Hủy</a>
        }
        

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận hủy</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <label class="label" for="statusInput">Lí do:</label>
                    <textarea rows="4" class="form-control" type="text" id="statusInput1" placeholder="Nhập ghi chú"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <!-- Sửa class từ "btn-primaryhuy" thành "btn-primary huy" -->
                    <button type="button" class="btn btn-primary huy">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />

    <div>
        <a class="btn btn-primary" asp-action="Index">Trở lại</a>
    </div>

    <!-- Modal -->
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            toastr.success('@TempData["SuccessMessage"]');
        </script>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            toastr.error('@TempData["ErrorMessage"]');
        </script>
    }


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Bắt sự kiện khi nút xác nhận được nhấn
            $('.huy').click(function () {
                // Lấy giá trị từ textarea
                var statusInput1 = $('#statusInput1').val();

                // Thực hiện yêu cầu HTTP
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Dahuy", "Bill", new { id = cus.Id })",
                    data: { statusInput1: statusInput1 }, // Thêm id vào dữ liệu gửi đi
                    success: function (response) { // Sửa tên biến result thành response
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Thành công!',
                                text: 'Thay đổi đã được lưu thành công.',
                                showConfirmButton: false,
                                timer: 2000, // Thời gian hiển thị thông báo (ms)
                                onClose: function () {
                                    window.location.href = response.data;
                                }
                            });
                           

                        }
                    },
                    error: function (error) {
                        // Xử lý lỗi nếu có
                        console.log(error);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.btn-confirm').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');

                // Hiển thị hộp thoại xác nhận
                Swal.fire({
                    title: 'Xác nhận',
                    text: 'Bạn có chắc muốn chuyển trạng thái của hóa đơn không?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Hủy'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Nếu người dùng chọn "OK", gửi yêu cầu Ajax
                        $.ajax({
                            type: 'POST', // hoặc 'GET' tùy thuộc vào cách bạn xử lý ở server
                            url: url,
                            success: function (data) {
                                // Xử lý reload trang và hiển thị thông báo thành công
                                if (data.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Thành công!',
                                        text: 'Thay đổi đã được lưu thành công.',
                                        showConfirmButton: false,
                                        timer: 1500,
                                        onClose: function () {
                                            location.reload();
                                        }
                                    });
                                } else {
                                    alert('Chuyển trạng thái thất bại');
                                }
                            },
                            error: function () {
                                alert('Đã xảy ra lỗi');
                            }
                        });
                    }
                });
            });
        });
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
