@using PRO219_WebsiteBanDienThoai_FPhone.ViewModel
@model VwProductDetailViewModel;
@{
    ViewData["Title"] = "PhoneDetail";
}

<style>
    .phone-hover:hover {
        background-color: #FFFFCC;
    }

    /*  .selected {
            background-color: #33FF33;
            border-radius: 2px;
        }
    */
    .selected {
        background-color: #33FF33;
        border-radius: 2px;
        border: 1px solid #33FF33; /* Add this line to set the border color to green */
    }

    #ramButtons {
        width: 500px;
        height: 120px;
        gap: 5px;
    }

    .btn {
        --bs-btn-font-size: 1.5rem;
    }


    .content-item {
        padding: 30px 0;
        background-color: #FFFFFF;
    }

        .content-item.grey {
            background-color: #F0F0F0;
            padding: 50px 0;
            height: 100%;
        }

        .content-item h2 {
            font-weight: 700;
            font-size: 35px;
            line-height: 45px;
            text-transform: uppercase;
            margin: 20px 0;
        }

        .content-item h3 {
            font-weight: 400;
            font-size: 20px;
            color: #555555;
            margin: 10px 0 15px;
            padding: 0;
        }

    .content-headline {
        height: 1px;
        text-align: center;
        margin: 20px 0 70px;
    }

        .content-headline h2 {
            background-color: #FFFFFF;
            display: inline-block;
            margin: -20px auto 0;
            padding: 0 20px;
        }

    .grey .content-headline h2 {
        background-color: #F0F0F0;
    }

    .content-headline h3 {
        font-size: 14px;
        color: #AAAAAA;
        display: block;
    }


    #comments {
        box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
        background-color: #FFFFFF;
    }

        #comments form {
            margin-bottom: 30px;
        }

        #comments .btn {
            margin-top: 7px;
        }

        #comments form fieldset {
            clear: both;
        }

        #comments form textarea {
            height: 100px;
        }

        #comments .media {
            border-top: 1px dashed #DDDDDD;
            padding: 20px 0;
            margin: 0;
        }

            #comments .media > .pull-left {
                margin-right: 20px;
            }

            #comments .media img {
                max-width: 100px;
            }

            #comments .media h4 {
                margin: 0 0 10px;
            }

                #comments .media h4 span {
                    font-size: 14px;
                    float: right;
                    color: #999999;
                }

            #comments .media p {
                margin-bottom: 15px;
                text-align: justify;
            }

        #comments .media-detail {
            margin: 0;
        }

            #comments .media-detail li {
                color: #AAAAAA;
                font-size: 12px;
                padding-right: 10px;
                font-weight: 600;
                display: inline-block;
            }

            #comments .media-detail a:hover {
                text-decoration: underline;
            }

            #comments .media-detail li:last-child {
                padding-right: 0;
            }

            #comments .media-detail li i {
                color: #666666;
                font-size: 15px;
                margin-right: 10px;
            }

</style>

<section class="section product-details__section container">
    <div class="product-detail__container">
        <div class="product-detail__left">
            <div class="details__container--left">
                <div class="product__pictures">
                    @foreach (var item in Model.listImageByIdPhone)
                    {
                        <div class="pictures__container">
                            <img class="picture" src="@item.Image" id="pic1" />
                        </div>
                    }

                </div>
                <div class="product__picture" id="product__picture">
                    <!-- <div class="rect" id="rect"></div> -->
                    <div class="picture__container">
                        <img src="@Model.Image" id="pic" />
                    </div>
                </div>
                <div class="zoom" id="zoom"></div>
            </div>
            <form action="" id="AddToCart" method="get">
                <div class="product-details__btn">
                    <button type="submit" class="add btn btn-block" name="addToCart">
                        <span>
                            <svg>
                                <use xlink:href="/images/sprite.svg#icon-cart-plus"></use>
                            </svg>
                        </span>
                        Thêm vào giỏ hàng
                    </button>
                </div>
            </form>

            <form action="@Url.Action("Additem", "FavoritePhone", new { id = '1' })" method="get">
                <div class="product-details__btn">
                    <button type="submit" class="add btn btn-block" name="Additem">
                        <span>
                            <svg>
                                <use xlink:href="/images/sprite.svg#icon-cart-plus"></use>
                            </svg>
                        </span>
                        Yêu thích
                    </button>
                </div>
            </form>
        </div>

        <div class="product-detail__right">
            <div class="product-detail__content">
                <h3 id="phoneName"></h3>
                <div class="price">
                    <span id="phonePrice" class="new__price"></span>
                </div>
                <div class="product__review">
                    <div class="rating">
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-star-empty"></use>
                        </svg>
                    </div>
                    <a href="#" class="rating__quatity">3 reviews</a>
                </div>
                <p>
                    @* @item.Description *@
                </p>
                <div class="product__info-container">
                    <ul class="product__info">

                        <li class=" row" id="listPhone">

                        </li>
                        @*<li>
                        <span>RAM Type:</span>
                        <div id="ramOptions"></div>
                        </li>
                        <li class="row" id="colorList"></li>*@
                        <li class="row" id="ramButtons"></li>
                        <li class="row" id="colorList"></li>

                        <li>
                            <span>Brand:</span>
                            @* <a href="#">@item.Brand</a> *@
                        </li>
                        <li>
                            <span>Product Type:</span>
                            <a id="colorName" href="#">Mau den</a>
                        </li>
                        <li>
                            <span>Availability:</span>
                            <a href="#" class="in-stock">In Stock (7 Items)</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</section>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form id="commentForm">
                    <h3 class="pull-left">New Comment</h3>
                    <button type="submit" class="btn btn-normal pull-right btn-light">Submit</button>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-3 col-lg-2 hidden-xs">
                                <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                            </div>
                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                <textarea class="form-control" id="message" placeholder="Your message" required=""></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <h3>4 Comments</h3>

                <!-- COMMENT 1 - START -->
                <div class="media">
                    <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i>27/02/2014</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                        </ul>
                        <ul class="list-unstyled list-inline media-detail pull-right">
                            <li class=""><a href="">Like</a></li>
                        </ul>
                    </div>
                </div>
                <!-- COMMENT 1 - END -->

            </div>
        </div>
    </div>
</section>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var id = window.location.href.split("/")[5];
        console.log(id);
        if (id == null) {
            alert("Không tìm thấy sản phẩm");
        }
        loadPhoneDetails(id);
    });

    function loadPhoneDetails(id) {
        let api = "/PhoneDetail/GetDetailPhones/" + id;
        fetch(api)
            .then(response => response.json())
            .then(response => {
                console.log(response);

                if (response.success) {
                    localStorage.setItem("phoneDetails", JSON.stringify(response));

                    // Group items by RAM type
                    let groupedByRam = {};
                    response.items.forEach(item => {
                        if (!groupedByRam[item.ramName]) {
                            groupedByRam[item.ramName] = [];
                        }
                        groupedByRam[item.ramName].push(item);
                    });

                    // Sort RAM types by GB
                    let sortedRamTypes = Object.keys(groupedByRam).sort((a, b) => {
                        // Extract GB value from RAM type (assuming RAM type is in the format "X GB")
                        const getGBValue = ramType => parseInt(ramType.split(' ')[0]);

                        return getGBValue(a) - getGBValue(b);
                    });

                    // Display RAM buttons
                    let ramButtonsHtml = '';
                    sortedRamTypes.forEach(ramName => {
                        ramButtonsHtml += `
                                <button class="btn col-4 border rounded phone-hover mt-2" onclick="loadColorsByRam('${ramName}')">${ramName}</button>
                    `;
                    });

                    document.querySelector("#ramButtons").innerHTML = ramButtonsHtml;

                    // Call loadColorsByRam with the first RAM
                    loadColorsByRam(sortedRamTypes[0]);

                    // Call loadPhoneDetail with the first item
                    loadPhoneDetail(response.items[0].idPhoneDetail, document.querySelector("#listPhone a"));
                }
            })
            .catch(error => console.log(error));
    }

    function loadColorsByRam(selectedRam) {
        let phoneDetails = JSON.parse(localStorage.getItem("phoneDetails"));
        let colorsHtml = '';

        if (phoneDetails) {
            let itemsWithSelectedRam = phoneDetails.items.filter(item => item.ramName === selectedRam);

            itemsWithSelectedRam.forEach(item => {
                colorsHtml += `
                        <a class="btn col-4 border rounded phone-hover mt-2"
                            onclick="loadPhoneDetail('${item.idPhoneDetail}', this)">
                            <div>
                                <strong>${item.colorName}</strong>
                            </div>
                            <span>${item.price} đ</span>
                        </a>
                    `;
            });

            // Keep track of the previously selected button
            let previouslySelectedButton = document.querySelector("#colorList .selected");

            document.querySelector("#colorList").innerHTML = colorsHtml;

            // Add the "selected" class to the newly clicked button
            let newlyClickedButton = document.querySelector("#colorList a");
            if (previouslySelectedButton) {
                newlyClickedButton.classList.add("selected");

                // Remove "selected" class from the previously selected button
                previouslySelectedButton.classList.remove("selected");
            }

            // Call loadPhoneDetail with the first item
            loadPhoneDetail(itemsWithSelectedRam[0].idPhoneDetail, newlyClickedButton);
        }
    }




    function loadPhoneDetail(id, button) {
        let phoneDetails = JSON.parse(localStorage.getItem("phoneDetails"));
        if (phoneDetails == null) {
            alert("Không tìm thấy sản phẩm");
        }
        let phone = phoneDetails.items.find(x => x.idPhoneDetail == id);
        document.getElementById("phoneName").innerHTML = phone.phoneName;
        document.getElementById("phonePrice").innerHTML = phone.price + " đ";
        document.getElementById("colorName").innerHTML = phone.colorName;

        localStorage.setItem("idPhoneDetail", phone.idPhoneDetail);

        // Remove "selected" class from all buttons
        document.querySelectorAll("#listPhone a, #colorList a").forEach(btn => {
            btn.classList.remove("selected");
        });

        // Add the "selected" class to the clicked button
        button.classList.add("selected");

        document.getElementById("AddToCart").action = "@Url.Action("AddToCard", "Accounts")/" + phone.idPhoneDetail;
    }
</script>

