@using AppData.Utilities
@model PRO219_WebsiteBanDienThoai_FPhone.ViewModel.AdPhoneDetailViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<partial name="DataError"></partial>
@*<h1>Create</h1>
<h4>PhoneDetaild</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="IdPhone" class="control-label"></label>
                <select asp-for="IdPhone" asp-items="@ViewBag.IdPhone" class="form-control"></select>
                <span asp-validation-for="IdPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDiscount" class="control-label"></label>
                <input asp-for="IdDiscount" class="form-control" />
                <span asp-validation-for="IdDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMaterial" class="control-label"></label>
                <select asp-for="IdMaterial" asp-items="@ViewBag.IdMaterial" class="form-control"></select>

                <span asp-validation-for="IdMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRom" class="control-label"></label>
                <select asp-for="IdRom" asp-items="@ViewBag.IdRom" class="form-control"></select>
                <span asp-validation-for="IdRom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRam" class="control-label"></label>
                <select asp-for="IdRam" asp-items="@ViewBag.IdRam" class="form-control"></select>

                <span asp-validation-for="IdRam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOperatingSystem" class="control-label"></label>
                <select asp-for="IdOperatingSystem" asp-items="@ViewBag.IdOperatingSystems" class="form-control"></select>

                <span asp-validation-for="IdOperatingSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdBattery" class="control-label"></label>
                <select asp-for="IdBattery" asp-items="@ViewBag.IdBattery" class="form-control"></select>

                <span asp-validation-for="IdBattery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSim" class="control-label"></label>
                <select asp-for="IdSim" asp-items="@ViewBag.IdSim" class="form-control"></select>
                <span asp-validation-for="IdSim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdChipCPU" class="control-label"></label>
                <select asp-for="IdChipCPU" asp-items="@ViewBag.IdChipCPUs" class="form-control"></select>
                <span asp-validation-for="IdChipCPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdChipGPU" class="control-label"></label>
                <select asp-for="IdChipGPU" asp-items="@ViewBag.IdChipGPUs" class="form-control"></select>
                <span asp-validation-for="IdChipGPU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdColor" class="control-label"></label>
                <select asp-for="IdColor" asp-items="@ViewBag.IdColor" class="form-control"></select>
                <span asp-validation-for="IdColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdChargingport" class="control-label"></label>
                <select asp-for="IdChargingport" asp-items="@ViewBag.IdChargingportType" class="form-control"></select>
                <span asp-validation-for="IdChargingport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrontCamera" class="control-label"></label>
                <input asp-for="FrontCamera" class="form-control" />
                <span asp-validation-for="FrontCamera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainCamera" class="control-label"></label>
                <input asp-for="MainCamera" class="form-control" />
                <span asp-validation-for="MainCamera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resolution" class="control-label"></label>
                <input asp-for="Resolution" class="form-control" />
                <span asp-validation-for="Resolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@


<!-- Content Wrapper START -->
<div class="main-content" style="padding-top:unset">
    <form asp-action="Create">
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                <div class="media align-items-center m-b-15">
                    <h3>Thêm mới sản phẩm</h3>
                </div>
                <div class="m-b-15">
                    <button class="btn btn-primary">
                        <i class="anticon anticon-save"></i>
                        <span>Lưu</span>
                    </button>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#product-edit-option">Chi tiết sản phẩm</a>
                </li>
            </ul>
        </div>
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-edit-basic">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <input hidden asp-for="@Model.DetailOfPhoneDetaild.Id"/>
                            <input asp-for="@Model.PhoneDetail.Id" hidden/>
                            <input asp-for="@Model.PhoneDetail.PhoneName" readonly="readonly" class="form-control text-center font-size-20"/>
                            @* <select asp-for="@Model.DetailOfPhoneDetaild.IdPhone" asp-items="@ViewBag.IdPhone" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdPhone" class="text-danger"></span> *@
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mã sản phẩm</label>
                            <input placeholder="Nhập mã sản phẩm" asp-for="@Model.DetailOfPhoneDetaild.Code" class="form-control"></input>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Màu sắc</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdColor" asp-items="@ViewBag.IdColor" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdColor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Giá tiền</label>
                            <input asp-for="@Model.DetailOfPhoneDetaild.Price" class="form-control" />
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Trạng thái</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.Status" class="custom-select" id="productStatus">
                                <option value="@FphoneConst.HoatDong" selected>Hoạt động</option>
                                <option value="@FphoneConst.KhongHoatDong">Không hoạt động</option>
                            </select>
                        </div>
                        @*<div class="form-group">
                            <label class="font-weight-semibold" for="productStatus">Status</label>
                            <select class="custom-select" id="productStatus">
                                <option value="inStock" selected>In Stock</option>
                                <option value="outOfStock">Out of Stock</option>
                                <option value="pending">Pending</option>
                            </select>
                        </div>*@
                       @*  <div class="form-group">
                            <label class="control-label">Mã giảm giá</label>
                            <input asp-for="@Model.DetailOfPhoneDetaild.IdDiscount" class="form-control" />
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdDiscount" class="text-danger"></span>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-edit-option">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label  class="control-label">Chất liệu</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdMaterial" asp-items="@ViewBag.IdMaterial" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdMaterial" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ram</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdRam" asp-items="@ViewBag.IdRam" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdRam" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Rom</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdRom" asp-items="@ViewBag.IdRom" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdRom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Hệ điều hành</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdOperatingSystem" asp-items="@ViewBag.IdOperatingSystems" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdOperatingSystem" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Pin</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdBattery" asp-items="@ViewBag.IdBattery" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdBattery" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Sim</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdSim" asp-items="@ViewBag.IdSim" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdSim" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">ChipCPU</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdChipCPU" asp-items="@ViewBag.IdChipCPUs" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdChipCPU" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">ChipGPU</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdChipGPU" asp-items="@ViewBag.IdChipGPUs" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdChipGPU" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Cổng sạc</label>
                            <select asp-for="@Model.DetailOfPhoneDetaild.IdChargingport" asp-items="@ViewBag.IdChargingportType" class="form-control"></select>
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.IdChargingport" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Trọng lượng</label>
                            <input asp-for="@Model.DetailOfPhoneDetaild.Weight" class="form-control" />
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.Weight" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Camera trước</label>
                            <input asp-for="@Model.DetailOfPhoneDetaild.FrontCamera" class="form-control" />
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.FrontCamera" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Camera sau</label>
                            <input asp-for="@Model.DetailOfPhoneDetaild.MainCamera" class="form-control" />
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.MainCamera" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Độ phân giải</label>
                            <input asp-for="@Model.DetailOfPhoneDetaild.Resolution" class="form-control" />
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.Resolution" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Kích cỡ</label>
                            <input asp-for="@Model.DetailOfPhoneDetaild.Size" class="form-control" />
                            <span asp-validation-for="@Model.DetailOfPhoneDetaild.Size" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
</div>
<!-- Content Wrapper END -->
