@model IEnumerable<AppData.Models.PhoneDetaild>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOperatingSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBattery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChipCPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChipGPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdChargingport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCamera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @ViewBag.PhoneName[item.IdPhone]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDiscount)
            </td>
            <td>
                    @ViewBag.MaterialName[item.IdMaterial]
            </td>
            <td>
                    @ViewBag.RomName[item.IdRom]
            </td>
            <td>
                    @ViewBag.RamName[item.IdRam]
            </td>
            <td>
                    @ViewBag.OperatingSystemName[item.IdOperatingSystem]
            </td>
            <td>
                    @ViewBag.BatteryName[item.IdBattery]
            </td>
            <td>
                    @ViewBag.SimName[item.IdSim]
            </td>
            <td>
                    @ViewBag.ChipCPUName[item.IdChipCPU]
            </td>
            <td>
                    @ViewBag.ChipGPUName[item.IdChipGPU]
            </td>
            <td>
                    @ViewBag.ColorName[item.IdColor]
            </td>
            <td>
                    @ViewBag.ChargingportName[item.IdChargingport]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>*@


<div class="page-header">
    <h2 class="header-title">Phone List</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" href="#">Apps</a>
            <a class="breadcrumb-item" href="#">E-commerce</a>
            <span class="breadcrumb-item active">Orders List</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" style="min-width: 180px;">
                            <option selected>Catergory</option>
                            <option value="all">All</option>
                            <option value="homeDeco">Home Decoration</option>
                            <option value="eletronic">Eletronic</option>
                            <option value="jewellery">Jewellery</option>
                        </select>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" style="min-width: 180px;">
                            <option selected>Status</option>
                            <option value="all">All</option>
                            <option value="inStock">In Stock </option>
                            <option value="outOfStock">Out of Stock</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <a asp-action="Create" style="color:white">Add Product</a>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox">
                                <input id="checkAll" type="checkbox">
                                <label for="checkAll" class="m-b-0"></label>
                            </div>
                        </th>

                        <th>Product</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Stock Left</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <input id="check-item-1" type="checkbox">
                                    <label for="check-item-1" class="m-b-0"></label>
                                </div>
                            </td>

                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="@Url.Content(item.Phones.Image)" alt="Hình ảnh" style="max-width: 60px">
                                    <h6 class="m-b-0 m-l-10">@ViewBag.PhoneName[item.IdPhone]</h6>
                                </div>
                            </td>
                            <td>@ViewBag.ProductionCompanyNames[item.Phones.IdProductionCompany]</td>

                            <td>@item.Price</td>
                            <td>20</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>In Stock</div>
                                </div>
                            </td>
                            <td class="text-right">
                                @{
                                    string editUrl = Url.Action("Edit", new { id = item.Id });
                                }
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" onclick="location.href='@editUrl'">               
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-delete"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

