@using AppData.FPhoneDbContexts
@using AppData.Utilities
@model PRO219_WebsiteBanDienThoai_FPhone.ViewModel.AccountViewModel

@{
    ViewData["Title"] = "Accounts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div>
    <partial name="DataError" />
    <h2 class="label-control mb-3">Tìm kiếm nhân viên</h2>
    <form method="POST" class="row " id="JAdAccount_list_form">
        @Html.HiddenFor(x => x.Options.PageIndex)
        @Html.HiddenFor(x => x.Options.PageSize)
        <div class="col-8 row">
            <label class="label-control col-2">Tên</label>
            <input type="text" asp-for="SearchData.Name" class="form-control col" placeholder="Tìm kiếm"/>
        </div>
        <div class="col-4">
            <input type="submit" class="btn btn-primary" value="Tìm kiếm"/>
        </div>
    </form>
    <hr />
</div>

<h1>Danh sách nhân viên</h1>

<p>
    <a asp-controller="SignUp" asp-action="SignUp">
        <span class="title">Tạo mới</span>
        <span class="icon-holder">
            <i class="fa fa-user-plus text-info pl-1"></i>
        </span>
    </a>
</p>
<table class="table table-bordered">

    <thead class="thead-light">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Email
        </th>
         
        <th>
            Địa chỉ
        </th>
        <th>
            Trạng thái
        </th>
        <th width="15%">Hành động</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.LstUser != null)
    {
        @foreach (var item in Model.LstUser)
        {
            <tr>
                @* <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>*@
                <td>
                    <a asp-action="DetailAccount" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @(item.Status ==FphoneConst.HoatDong?"Hoạt động":"Không hoạt động")
                </td>
                <td >
                    <a asp-action="EditAccount" asp-route-id="@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square text-danger" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </a>
                </td>
                @* <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    }
    </tbody>
</table>
@* Phân trang*@
<div class="row">
    <div class="col">
        <div class="page_size_box row col-7">
            <label class="form-label col mt-2">Hiển thị:</label>
            <select class="form-control col" id="page_size_select" onchange="JAdAccount.changePageSize(event)">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <label class="form-label col mt-2">bản ghi</label>
        </div>
    </div>
    <div class="mx-5 mb-5 col">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item @(Model.Options.PageIndex == 1 ? "disabled" : "")">
                <a class="page-link" onclick="JAdAccount.submitListForm(@(Model.Options.PageIndex - 1), event)">«</a>
            </li>
            @foreach (var i in Model.Options.PaginationIndexes)
            {
                if (i == -1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">...</a>
                    </li>
                }
                else
                {
                    <li class="page-item @(Model.Options.PageIndex == i ? "active" : "")">
                        <a class="page-link" onclick="JAdAccount.submitListForm(@i, event)">@i</a>
                    </li>
                }
            }
            <li class="page-item @(Model.Options.PageIndex == Model.Options.PageCount ? "disabled" : "")">
                <a class="page-link" onclick="JAdAccount.submitListForm(@(Model.Options.PageIndex + 1), event)">»</a>
            </li>
        </ul>
    </div>
</div>
<script src="~/js/JAdAccount.js"></script>
<script>
    $(document).ready(function () {
        JAdAccount.initList();
    });
</script>