@using OfficeOpenXml.FormulaParsing.Excel.Functions.Text;
@using X.PagedList;
@using X.PagedList.Mvc.Common;
@using X.PagedList.Mvc.Core;
@model IPagedList<AppData.Models.AccountEntity>

@{
    ViewData["Title"] = "Accounts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<h1>Danh sách Khách Hàng</h1>

<div>
    <form method="get" action="@Url.Action("KhachHang", "Accounts")">
        <label for="search">Tìm kiếm:</label>
        <input type="text" name="search" id="search" placeholder="Nhập Số điện thoại " />
        <button style="background-color:#3f87f5; border-color: #3f87f5;" type="submit">Tìm kiếm</button>
    </form>
</div>
<table class="table table-bordered">

    <thead class="thead-light">
        <tr>
            <th>
                Tên
            </th>
            <th>
                Email
            </th>
            <th>
                Username
            </th>
            <th>
                SDT
            </th>
            <th>
                Trạng thái
            </th>
            <th width="15%">Hành động</th>
        </tr>
    </thead>
    <tbody>
          @if (Model == null || !Model.Any())
        {
            <h2 style="text-align:center">Không có khách hàng</h2>
        }
        else
        {
        
            @foreach (var item in Model)
            {
                <tr>
                    @* <td>
            @Html.DisplayFor(modelItem => item.UserName)
            </td>*@
                    <td>
                     @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @(item.Status == 0 ? "Hoạt động" : "Không hoạt động")
                    </td>
                    <td>
                        @if (item.Status == 0)
                    {
                            <a class="btn btn-sm btn-light text-success border a33 btn-confirm" href="@Url.Action("Editkhachhang", "Accounts", new { id = item.Id })"> <i class="fas fa-toggle-on"></i> </a>
                    }
                    else if (item.Status == 1)
                    {
                            <a class="btn btn-sm btn-light text-danger border a33 btn-confirm" href="@Url.Action("Editkhachhang1", "Accounts", new { id = item.Id })"> <i class="fas fa-toggle-on"></i> </a>
                    }
                    
                    </td>
       
                </tr>
            }
        }
    </tbody>
</table>
<div class="custom-pager">
    @Html.PagedListPager(Model, pageNumber => Url.Action("KhachHang", new { pageNumber, pageSize = Model.PageSize }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LiElementClasses = new[] { "page-item" }, PageClasses = new[] { "page-link" } })
</div>
<style>
    .custom-pager {
        display: flex;
        justify-content: flex-end;
        margin-right: 100px; /* Điều chỉnh khoảng cách bên phải */
    }

        .custom-pager .page-item {
            margin: 0 5px; /* Điều chỉnh khoảng cách giữa các mũi tên */
        }

        .custom-pager .page-link {
            font-size: 13px; /* Điều chỉnh kích thước của mũi tên */
        }
</style>
<script>
    $(document).ready(function () {
        $('.btn-confirm').click(function (e) {
            e.preventDefault();
            var url = $(this).attr('href');

            // Hiển thị hộp thoại xác nhận
            Swal.fire({
                title: 'Xác nhận',
                text: 'Bạn có chắc muốn cập nhật trạng thái của khách hàng không?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'OK',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng chọn "OK", gửi yêu cầu Ajax
                    $.ajax({
                        type: 'POST', // hoặc 'GET' tùy thuộc vào cách bạn xử lý ở server
                        url: url,
                        success: function (data) {
                            // Xử lý reload trang và hiển thị thông báo thành công
                            if (data.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thành công!',
                                    text: 'Thay đổi đã được lưu thành công.',
                                    showConfirmButton: false,
                                    timer: 2000,
                                    onClose: function () {
                                        location.reload();
                                    }
                                });
                            } else {
                                alert('Chuyển trạng thái thất bại');
                            }
                        },
                        error: function () {
                            alert('Đã xảy ra lỗi');
                        }
                    });
                }
            });
        });
    });
</script>