@using AppData.Models
@model List<BillEntity>

@{
    ViewData["Title"] = "Danh sách hóa đơn khách hàng";
    String dh0 = "Chờ xác nhận";
    String dh1 = "Đã xác nhận";
    String dh2 = "Đang giao";
    String dh3 = "Đã giao";
    String dh4 = "Đã hủy";
}

<table class="table table-bordered container">
    <thead>
        <tr>
            <td colspan="5" style="text-align:center">Lịch sử mua hàng</td>
        </tr>
        <tr>
            <th>
                Ngày Đặt
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Trạng thái thanh toán
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Hành động
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CreatedTime
                </td>
                <td>
                    @if (item.Status == 0)
                    {
                        <p class="text-success"> @dh0</p>
                    }
                    else if (item.Status == 1)
                    {
                        <p class="text-danger"> @dh1</p>
                    }
                    else if (item.Status == 2)
                    {
                        <p class="text-danger"> @dh2</p>
                    }
                    else if (item.Status == 3)
                    {
                        <p class="text-success"> @dh3</p>
                    }
                    else if (item.Status == 4)
                    {
                        <p class="text-danger"> @dh4</p>
                    }
                </td>
                <td>
                    @item.deliveryPaymentMethod  @if (item.StatusPayment == 1)
                    {
                        <span class="text-success">Đã thanh toán </span>
                    }
                    else
                    {
                        <span class="text-danger">Chưa thanh toán </span>
                    }
                </td>
                <td>
                    @string.Format("{0:0,0}", item.TotalMoney) vnđ
                </td>
                <td>
                    <a href="@Url.Action("XemChiTiet", "BaoHanh", new { idBill = item.Id })">Xem Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Trả hàng modal -->
<div class="modal fade" id="traHangModal" tabindex="-1" role="dialog" aria-labelledby="traHangModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="traHangModalLabel">Trả hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Nội dung của modal ở đây -->
                <p>Đây là nội dung của modal khi trả hàng.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <!-- Các nút khác có thể được thêm vào đây -->
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap JavaScript và Popper.js (nếu cần) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
