@model IEnumerable<AppData.Models.Imei>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int stt = 0;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Imei
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            stt = stt + 1;
            <tr>
            <td>
                @stt
            </td>
            <td>
                  @ViewBag.InformationPhone
            </td>
            <td>
                    @if(item.Status == 1)
                    {
                        <p>Còn hàng</p>
                    }
                    else
                    {
                        <p>Đã bán</p>
                    }
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.NameImei)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
