@model PRO219_WebsiteBanDienThoai_FPhone.ViewModel.AdBlogViewModel
<main class="page-wrap mb-5">
	<div class="block-header container-fluid">
		<div class="block-header__img">
			<img src="~/images/banner-new.jpg">
		</div>
	</div>
	<div class="new-page mt-5">
		<div class="new-page__body pt-3 pb-8">
			<div class="container">
				<div class="row g-5">
					<div class="col-12 col-lg-4 order-2 order-lg-1">
						<div class="widget-block">
							<h2 class="font-size-28 fw-bold text-uppercase pb-3 mb-3 border-bottom border-d2">Tin khác</h2>
                            <div class="d-flex flex-column">
                                @foreach (var item in Model.Records)
                                {
                                    <div class="card-post-list pb-3 mb-3 border-bottom border-d2">
                                        <a asp-action="BlogDetail" asp-route-Id="@item.Id" class="nav-link">
                                            <div class="card-post-list__wrap">
                                                <div class="card-post-list__left">
                                                    <div class="card-post-list__image">
                                                        <img src="@item.Images">
                                                    </div>
                                                </div>
                                                <div class="card-post-list__info">
                                                    <h2 class="card-post-list__name font-size-20 fw-bold mb-1">@item.Title</h2>
                                                    <div class="card-post-list__date font-size-16 text-grey">Tin tức | @string.Format("{0:dd/MM/yyyy}",item.CreatedDate)</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>
						</div>
					</div>
					<div class="col-12 col-lg-8 order-lg-2 order-1">
						<h1 class="font-size-20  text-uppercase fw-bold mb-1">@Model.DetailModel.Title</h1>
						<div class="d-flex align-items-center font-size-16 text-grey mb-1">
							<svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
								<path d="M7.5 0.520508C3.35795 0.520508 0 3.87846 0 8.02051C0 12.1626 3.35795 15.5205 7.5 15.5205C11.642 15.5205 15 12.1626 15 8.02051C15 3.87846 11.642 0.520508 7.5 0.520508ZM10.9615 9.17435H7.5C7.18137 9.17435 6.92308 8.91606 6.92308 8.59743V3.40512C6.92308 3.0865 7.18137 2.8282 7.5 2.8282C7.81863 2.8282 8.07692 3.0865 8.07692 3.40512V8.02051H10.9615C11.2802 8.02051 11.5385 8.27881 11.5385 8.59743C11.5385 8.91606 11.2802 9.17435 10.9615 9.17435Z" fill="#737373" />
							</svg> @string.Format("{0:dd/MM/yyyy HH:mm:ss}",Model.DetailModel.CreatedDate)
						</div>
						
						<div class="new-page__body-content body-content">
							@Html.Raw(Model.DetailModel.Content)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>