@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PRO219_WebsiteBanDienThoai_FPhone.ViewModel.ListPhoneViewModel
@{
    ViewData["Title"] = "Phone List";
}
<style>
    .form-control {
        font-size: 1.5rem;
    }
    .btn {
        --bs-btn-font-size: 1.5rem;
    }
    
</style>



<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                <span class="breadcrumb-item active">Danh sách sản phẩm</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <h3>Chọn theo tiêu chí</h3>
        </div>
    </div>
    <div class="row">
        <form method="post" asp-controller="ListPhone" asp-action="Index" class="col-12 px-xl-5 mx-5 row">
            <div class="col">
                @Html.DropDownListFor(model => model.SearchData.ProductionCompanyName, new SelectList(Model.Brand, "Name", "Name"), "Loại điện thoại", new { @class = "form-control", id = "Province" })
            </div>
            <div class="col">
                @Html.DropDownListFor(model => model.SearchData.RamName, new SelectList(Model.listRam, "Name", "Name"), "Dung lượng RAM", new { @class = "form-control", id = "Province" })
            </div>
            <div class="col">
                @Html.DropDownListFor(model => model.SearchData.RomName, new SelectList(Model.listRom, "Name", "Name"), "Bộ nhớ trong", new { @class = "form-control", id = "Province" })
            </div>
            <div class="col">
                @Html.DropDownListFor(model => model.SearchData.ChipCPUName, new SelectList(Model.listChipCPU, "Name", "Name"), "Chip xử lý", new { @class = "form-control", id = "Province" })
            </div>
            <div class="col">
                @Html.DropDownListFor(model => model.SearchData.MaterialName, new SelectList(Model.listMaterial, "Name", "Name"), "Chất liệu", new { @class = "form-control", id = "Province" })
            </div>
             <div class="col">
                 <input type="text" asp-for="SearchData.PhoneName" placeholder="Search here..." class="form-control"/>
            </div>  
            <div class="col">
                <input type="submit" placeholder="Tìm kiếm" value="Tìm kiếm" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    <div class="row px-xl-5 mt-2">
        <div class="col-12">
            <h3>Sắp xếp theo</h3>
        </div>
    </div>
    <div class="row col-xl-5">
        <div class="px-5 mx-5 col">
            <a asp-action="OrderByDes" class="text-decoration-none btn border col-xl-2"style="width: 90%">
                Giá Cao - Thấp
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5M8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6"></path>
                </svg>
            </a>
        </div>
        <div class="col">
            <a asp-action="OrderByAsc" class="text-decoration-none btn border col-xl-2" style="width: 90%">
                Giá Thấp - Cao
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5m-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5"/>
                </svg>
            </a>
        </div>
    </div>
</div>
<!-- Shop End -->
<section class="category__section section container">
    <div class="row container-fluid justify-content-center" id="productList">
        @foreach (var item in Model.ListvVwPhoneDetails)
        {
            <div class="product category__products mx-2 col-3" style="width: 250px;height: 450px">
                <div class="product__header">
                    <img src="@item.FirstImage" alt="product">
                </div>
                <div class="product__footer">
                    <h3 style="width: 235px;height: 39px">@item.PhoneName @item.RamName @item.RomName - @item.ColorName</h3>
                    <div class="rating">
                        <svg>
                            <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="./images/sprite.svg#icon-star-full"></use>
                        </svg>
                        <svg>
                            <use xlink:href="./images/sprite.svg#icon-star-empty"></use>
                        </svg>
                    </div>
                    @if (item.CountImei > 0)
                    {
                        <div class="product__price mt-2">
                            <h4 style="color:#da152b">@item.Price?.ToString("C", new CultureInfo("vi-VN"))</h4>
                            <span> </span>
                        </div>
                    }
                    else
                    {
                        <div class="product__price mt-2">
                            <h4 class=" text-decoration-line-through" style="color:#da152b">@item.Price?.ToString("C", new CultureInfo("vi-VN"))</h4><span class="text-danger"> Hết hàng</span>
                        </div>
                    }
                   
                    @if (item.CountImei > 0)
                    {
                        <a href="#">
                            @Html.ActionLink("Thêm vào giỏ hàng", "AddToCard", "Accounts", new { id = item.IdPhoneDetail }, new { @class = "product__btn", type = "submit" })
                        </a>
                    }
                    else
                    {
                        <a class="product__btn addCart">
                            Thêm vào giỏ hàng
                        </a>
                    }
                </div>
                <ul>
                    <li>
                        <a asp-action="PhoneDetail" asp-route-id="@item.IdPhone" asp-controller="PhoneDetail" data-tip="Quick View" data-place="left" >
                            <svg>
                                <use xlink:href="./images/sprite.svg#icon-eye"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>
</section>

<div class="pagination">
    <a asp-action="MorePhone" class="btn btn-danger text-white rounded-3">Xem thêm 10 sản phẩm</a>
</div>
<script src="~/js/JListPhone.js"></script>
<script>
    $(document).ready(function(){
        $(".addCart").click(function () {
           alert("Sản phẩm đã hết hàng, hãy để lại thông tin liên hệ chúng tôi sẽ liên lạc lại sau");
        });
    });
</script>