@model IEnumerable<AppData.Models.SalesEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered text-center">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReducedAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReducedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeForm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
