@model PRO219_WebsiteBanDienThoai_FPhone.ViewModel.ImeiPhoneViewModel

@{
    ViewData["Title"] = "CreateImei";
}
<!-- Thêm liên kết đến thư viện Toastr -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



<h1>Thêm mới imei cho</h1>
<h4>@Model.PhoneDetailName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateImei">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label class="control-label">Tên imei </label>
                <input asp-for="@Model.AddImeiOfPhone.NameImei" class="form-control" />
                <span asp-validation-for="@Model.AddImeiOfPhone.NameImei" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="@Model.PhoneDetaild.Id" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Hiển thị thông báo lỗi bằng Toastr -->
@if (TempData["ErrorMessage"] != null)
{
    <script>
        toastr.error('@TempData["ErrorMessage"]');
    </script>
}
